/*-----------------------------------------------------------*/
/*------------------------ IMPORTS --------------------------*/
/*-----------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');

/*-----------------------------------------------------------*/
/*------------------------- GLOBAL --------------------------*/
/*------------------------- SETTINGS ------------------------*/
#myChart{
    width: 100%;
    height: auto;
}
#stockCanvas{
    width: 100%;
    height: auto;
}
:root{
    --mainColor: #eee;
    --secondColor: #fff;
    --thirdColor: #2e1e2e;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.mainColor{
    background-color: var(--mainColor);
}
.secondColor{
    background-color: var(--secondColor);
}
.thirdColor{
    background-color: var(--thirdColor);
}
.homeDiv01, .homeDiv02, .homeDiv03, .loginBackground{
    width: 100vw;
    height: 100vh;
    background-attachment: fixed !important;
    background-size: cover !important;
} 
.homeDiv01, .loginBackground{
    background: url("../images/backgrounds/buildings_day.jpg") no-repeat center;
}
.homeDiv01 h1{
    font-size: 6rem;
}
.homeDiv01 p {
    font-size: 4rem;
}
.homeDiv01, .homeDiv03 {
    color: var(--mainColor);
}
.homeDiv03{
    background: url("../images/backgrounds/mobile.jpg") no-repeat center;
}
.loginAreaBgc{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.loginAreaBgc p{
    text-shadow: black 1px 1px;
}
.loginArea, .joinArea{
    background-color: #fff;
}
.loginDiv{
    height: 70vh;
}
#loginInputs input, #joinInputs input{
    border: none;
    border-bottom: 1px solid black;
}
#menu {
    height: 70px;
}
#menu a{
    text-decoration: none;
    color: var(--mainColor);
}
#menu a:hover{
    color: #b0b0b0;
}
.homeDiv03 img {
    width: 48px !important;
}
#menudashboard{
    text-transform: uppercase;
}
.dashboard{
    background-color: var(--mainColor);
    height: 100vh;
}
.avatar{
    height: 75px !important;
}
.userpanel{
    border-radius: 10px;
    background-color: var(--secondColor);
}
.currentAvatar{
    width: 120px;
    border-radius: 50%;
}

.positive{
    color: #0f9d58 !important;
}
.negative{
    color: #c00 !important;
}
.positive::after{
    content: " ▲";
}
.negative::after{
    content: " ▼";
}
.backgroundWhite{
    background-color: #fff !important;
    height: auto !important;
}
.backgroundWhite a{
    color: #242424 !important;
}
.backgroundWhite a:hover{
    color: #b0b0b0 !important;
}
.invisBtn{
    background: transparent;
    border: none;
}
#facebook-logo, #twitter-logo, #instagram-logo, #youtube-logo{
    filter: invert(100%);
}
#facebook-logo:hover {
    filter: invert(32%) sepia(24%) saturate(1380%) hue-rotate(182deg) brightness(97%) contrast(86%);
}
#twitter-logo:hover {
    filter: invert(56%) sepia(45%) saturate(3748%) hue-rotate(176deg) brightness(98%) contrast(94%);
}
#instagram-logo:hover {
    filter: invert(29%) sepia(38%) saturate(2832%) hue-rotate(295deg) brightness(93%) contrast(91%);
}
#youtube-logo:hover {
    filter: invert(18%) sepia(70%) saturate(6611%) hue-rotate(356deg) brightness(106%) contrast(121%);
}
.aboutusdiv{
    margin: 0 auto !important;
}
#burgerMenu{
    display: none;
}
@media only screen and (max-width:992px){
    .loginDiv{
        height: 100vh;
    }
    #burgerMenu{
        display: block;
    }
    #fullMenu{
        display: none;
    }
}
@media only screen and (max-width:768px){
    #menudashboard{
        min-height: 50px !important;
    }
    #burgerMenu li{
        margin: 0 !important;
        border: none !important;
    }
    #burgerMenu{
        display: flex;
        justify-items: center;
        justify-content: space-evenly;
    }
}